<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023570661873-720lr5tnt14uinkhbipq10jejls1jbt1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023570661873-720lr5tnt14uinkhbipq10jejls1jbt1</string>
	<key>API_KEY</key>
	<string>AIzaSyD80abF473R07WJr8ESNinQG1Q7Twbc6uQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1023570661873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PeiYang-Board-ReBorn</string>
	<key>PROJECT_ID</key>
	<string>peiyang-board-reborn</string>
	<key>STORAGE_BUCKET</key>
	<string>peiyang-board-reborn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023570661873:ios:d244d3e75160a998f9b450</string>
</dict>
</plist>